
.r-error-message{
    display: none;
    position: relative;
    top: -9px;
    color: #facdcd;
    border: 1px solid #ed5a5a;
    background: #ed5a5a;
    border-radius: 7px;
    margin-bottom: -2px;

}
.flash-message-dash{
    position: relative;
    top: -2px;
    color: #facdcd;
    border: 1px solid #ed5a5a;
    background: #ed5a5a;
    border-radius: 4px;
}